<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:score="http://thymeleafexamples" lang="pt-BR">
<head>
<meta charset="UTF-8">
<title>Exibir Pessoa</title>
</head>
<body>
<div th:if="${message != null}">
	<h1 th:text="${message}"></h1>
</div>
<div th:if="${list != null}">
	<table>
		<thead>
			<tr>
				<th>Id</th>
				<th>Nome</th>
				<th>Idade</th>
				<th>Status</th>
				<th>Opções</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="person: ${list}">
				<td th:text="${person.id}"></td>
				<td th:text="${person.name}"></td>
				<td th:text="${person.age}"></td>
				<td th:text="${person.status ? 'Ativo' : 'Inativo'}"></td>
				<td><a th:href="@{/person/delete(id=${person.id})}">Excluir</a></td>
			</tr>
		</tbody>
	</table>
	

</div>
</body>
</html>