<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:score="http://thymeleafexamples" lang="pt-BR">
<head>
<meta charset="UTF-8">
<title>Exibir Pessoa</title>
</head>
<body>
<div th:if="${message != null}">
	<h1 th:text="${message}"></h1>
</div>
<div th:if="${person != null}">
	Id: <span th:text="${person.id}"></span><br>
	Nome: <span th:text="${person.name}"></span><br>
	Idade: <span th:text="${person.age}"></span><br>
	Status: <span th:text="${person.status ? 'Ativo' : 'Inativo'}"></span>
</div>
</body>
</html>