<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout.html}"
	 lang="pt-BR">

<meta charset="UTF-8">

<div layout:fragment="content">
	
	<div class="alert alert-info d-flex justify-content-between  align-items-center" th:if="${#lists.isEmpty(lista)}">
		<span>Nenhum Projeto Cadastrado.</span>
		<a class="btn btn-info" th:href="@{/projeto/editar}">Cadastrar Novo</a>
	</div>
	<div class="alert alert-primary" th:if="${mensagem != null}">
		<span th:text="${mensagem}"></span>
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		<img src="close.soon" style="display:none;" onerror="(function(el){ setTimeout(function(){ el.parentNode.parentNode.removeChild(el.parentNode); },3000 ); })(this);" />
	</div>
	<div th:if="${not #lists.isEmpty(lista)}">
		<h1>Lista de Projetos</h1>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Id</th>
					<th>Nome</th>
					<th>Apelido</th>
					<th>Linguagem</th>
					<th>Data de Entrega</th>
					<th>Orçamento</th>
					<th>Opções</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="projeto : ${lista}">
					<td th:text="${projeto.id}"></td>
					<td th:text="${projeto.nome}"></td>
					<td th:text="${projeto.apelido}"></td>
					<td th:text="${projeto.linguagem.nome}"></td>
					<td th:text="${#dates.format(projeto.dataEntrega, 'dd/MM/yyyy')}"></td>
					<td th:text="'R$ ' + ${#numbers.formatDecimal(projeto.orcamento, 0, 'POINT', 2, 'COMMA')}"></td>
					
					<td>
						<a class="btn btn-primary btn-sm" title="Detalhes" th:href="@{/projeto/detalhes(id=${projeto.id})}">
							<i class="fa-solid fa-file-lines"></i> Detalhes
						</a>
						<a class="btn btn-primary btn-sm ms-2" title="Editar" th:href="@{/projeto/editar(id=${projeto.id})}">
							<i class="fa-solid fa-pen-to-square"></i> Editar
						</a>
						<a
							type="button"
							class="btn btn-secondary btn-sm ms-2"
							title="Excluir"
							data-bs-toggle="modal"
							data-bs-target="#modalExcluir"
							data-modal-object="projeto"
							th:data-modal-name="${projeto.nome}"
							th:data-modal-link="@{/projeto/excluir(id=${projeto.id})}"
						>
							<i class="fa-solid fa-trash-can"></i> Excluir
						</a>
					</td>
			</tbody>
		</table>
	</div>
</div>
	 
</html>