<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	lang="pt-BR">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" type="image/x-icon" href="/favicon.ico">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link href="https://code.jquery.com/ui/1.13.0/themes/smoothness/jquery-ui.css" rel="stylesheet">
<title>Projetos GFT</title>
</head>
<body>
	<div id="menu">
		
		<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
		  <div class="container-fluid">
		    <a class="navbar-brand" href="#">GFT</a>
		    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
		      <span class="navbar-toggler-icon"></span>
		    </button>
		    <div class="collapse navbar-collapse" id="navbarNavDropdown">
		      <ul class="navbar-nav">
		        <li class="nav-item">
		          <a class="nav-link active" aria-current="page" th:href="@{/}">Home</a>
		        </li>
		        <li class="nav-item dropdown">
		          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLinguagens" role="button" data-bs-toggle="dropdown" aria-expanded="false">
		            Linguagens
		          </a>
		          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLinguagens">
		          	<li><a class="dropdown-item" th:href="@{/linguagem}">Listar</a></li>
					<li><a class="dropdown-item" th:href="@{/linguagem/novo}">Cadastrar</a></li>
		          </ul>
		        </li>
		        <li class="nav-item dropdown">
		          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuDesenvolvedores" role="button" data-bs-toggle="dropdown" aria-expanded="false">
		            Desenvolvedores
		          </a>
		          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuDesenvolvedores">
		            <li><a class="dropdown-item" th:href="@{/desenvolvedor}">Listar</a></li>
		            <li><a class="dropdown-item" th:href="@{/desenvolvedor/editar}">Cadastrar</a></li>
		          </ul>
		        </li>
		        <li class="nav-item dropdown">
		          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuProjetos" role="button" data-bs-toggle="dropdown" aria-expanded="false">
		            Projetos
		          </a>
		          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuProjetos">
		            <li><a class="dropdown-item" th:href="@{/projeto}">Listar</a></li>
		            <li><a class="dropdown-item" th:href="@{/projeto/editar}">Cadastrar</a></li>
		          </ul>
		        </li>
		      </ul>
		    </div>
		  </div>
		</nav>
	</div>
	<div id="conteudo" class="container" layout:fragment="content"></div>
	<div th:replace="fragments/modal :: modal"></div>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script>
	<script
	  src="https://code.jquery.com/ui/1.13.0/jquery-ui.min.js"
	  integrity="sha256-hlKLmzaRlE8SCJC1Kw8zoUbU8BxA+8kR3gseuKfMjxA="
	  crossorigin="anonymous"></script>
	<script src="https://kit.fontawesome.com/5eed12a441.js" crossorigin="anonymous"></script>
	<div layout:fragment="scripts"></div>
	<script type="text/javascript" th:src="@{/assets/js/modalsandpopover.js}"></script>
</body>
</html>